* {
  padding: 0;
  margin: 0;
}

/*ICONOS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*ICONOS */
/*HEADER */
.header__Logo {
  width: 120px;
}

.navbar-nav li a {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  list-style-type: none;
  color: #970cac;
}
.navbar-nav li a span {
  margin-top: 9px;
}
.navbar-nav li a:hover {
  color: #399814;
}

/*HEADER*/
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.encabezadoFooter {
  padding: 20px;
  font-size: 25px;
  font-family: "Darker Grotesque", sans-serif;
}

.navFooter ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navFooter-item a img {
  height: 40px;
  width: 40px;
  margin: 0px 10px 0px 10px;
  transition: all 0.2s;
}
.navFooter-item a img:hover {
  height: 42px;
  width: 42px;
}

/*FOOTER*/
/*MAIN DE INDEX */
.indexMain1 div {
  background-image: url(../images/macetas-tipos.jpg);
  background-size: cover;
  grid-area: "indexMain1";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexMain1 div h1 {
  padding: 200px 200px 100px 200px;
  font-size: 60px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 2000;
  color: #ffffff;
  text-align: center;
}

.button {
  height: 25px;
  width: 200px;
  padding-bottom: 20px;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  color: #970cac;
  text-align: center;
  margin-bottom: 200px;
  transition: all 1.2s ease;
}
.button:hover {
  background-color: #970cac;
  color: #ffffff;
}

.indexMain2 div {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px 50px 50px 50px;
}

.indexMain3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin-bottom: 50px;
}

.titulos {
  font-family: "Darker Grotesque", sans-serif;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.parrafos {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.indexEmojis {
  height: 50px;
  width: 50px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .indexMain2 div {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  .indexMain2 div {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
  }
}
/* MAIN DE INDEX */
/* MAIN DE ACERCADEMI */
@media screen and (min-width: 768px) {
  .mainAcerca2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
  }
}
@media screen and (max-width: 767px) {
  .mainAcerca2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* MAIN DE ACERCADEMI */
/* MAIN DE CONTACTO */
.formContacto form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 90%;
}
.datos input, .datos textarea {
  margin: 15px;
  padding: 10px;
  background-color: #ececec;
  border: none;
}

::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: #970cac;
  font-size: 18px;
}

:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: #970cac;
  font-size: 18px;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: #970cac;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  ::-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #970cac;
    font-size: 15px;
  }
  :-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #970cac;
    font-size: 15px;
  }
  ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #970cac;
    font-size: 15px;
  }
}
/* MAIN DE CONTACTO */
/* MAIN DE TIENDA */
.tiendaProducto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: right;
  transition: 1s;
}
.tiendaProducto ul li {
  list-style-type: none;
  overflow: hidden;
}
.tiendaProducto ul li a {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #970cac;
  text-align: left;
}
.tiendaProducto ul li a img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.tiendaProducto ul li a img:hover {
  transform: scale(1.2);
}
.tiendaProducto ul li a img:active {
  opacity: 0.5;
}

/* MAIN DE TIENDA */
/* MAIN DE PRODUCTOS */
.producto {
  text-align: left;
  font-family: "Darker Grotesque", sans-serif;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* MAIN DE PRODUCTOS */
.botones input {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  color: #970cac;
  background-color: #ececec;
  transition: 0.75s;
}
.botones input:hover {
  background-color: #970cac;
  color: #ececec;
}/*# sourceMappingURL=styles.css.map */