/* CSS DE ICONOS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* CSS DE ICONOS */
      




    body{
        background-color: ffffff;
        font-family:Arial, Helvetica, sans-serif;
    }







    /* ACA COMIENZA CSS DE HEADER */

    .header__Logo{
        width: 120px;
    }

    .navbar-nav li a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 25px;
        list-style-type: none;
        color: #9e56e2;
    }
    .navbar-nav li a span{
        margin-top: 9px;
    }

    .navbar-nav li a:hover{
        color: rgb(46, 26, 221);
    }

    /*ACA TERMINA CSS DE HEADER*/








    /* ACA COMIENZA CSS DE INDEX */


 @media screen and (min-width: 768px){

    .indexMain2 div{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 50px 50px 50px;
    }
 }

 @media screen and (max-width: 767px) {
    .indexMain2 div{
        display: flex;
        flex-direction: column;
        padding: 50px 50px 50px 50px;
    }
 }

    .indexMain1 div{
        background-image: url(../images/macetas-tipos.jpg);
        background-size: cover;
        grid-area: "indexMain1";
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .indexMain1 h1{
        padding: 200px 200px 100px 200px;
        font-size: 60px;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 2000;
        color: #ffffff;
        text-align: center;
    }
    .button{
        height: 25px;
        width: 200px;
        padding: 30px;
        background-color: #ffffff;
        text-decoration: none;
        border-radius: 50px;
        color: #9e56e2;
        text-align: center;
        margin-bottom: 100px;
        transition: all 1.2s ease;
    }
    .button:hover{
        background-color: #9e56e2;
        color: #ffffff;
    }

    .indexMain2 div{
        display: flex;
        flex-wrap: nowrap;
        padding: 50px 50px 50px 50px;
    }

    .indexMain3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
    }

    .titulos{
        font-family: 'Darker Grotesque', sans-serif;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    .parrafos{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }
    .indexEmojis{
        height: 50px;
        width: 50px;
        padding: 0px;
    }
    /* ACA TERMINA CSS DE INDEX */











    /* ACA COMIENZA CSS DE FOOTER */
    .footer{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .encabezadoFooter{
        padding: 20px;
        font-size: 25px;
        font-family: 'Darker Grotesque', sans-serif;
        }
    .navFooter ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        }
    .navFooter-item a img{
        height: 40px;
        width: 40px;
        margin: 0px 10px 0px 10px;
        transition: all 0.2s;
        }
    .navFooter-item a img:hover{
        height: 42px;
        width: 42px;
    }

    /* TERMINA CSS DE FOOTER*/  









    /* COMIENZA CSS DE ACERCADEMI */

    @media screen and (min-width: 768px){
     
    .mainAcerca2{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 100px;
    } 
    }
    @media screen and (max-width: 767px) {
    .mainAcerca2{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    }
    
/* TERMINA CSS DE ACERCADEMI */
    









/* COMIENZA CSS DE CONTACTO */
    
        .mainContacto{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        .mainContacto img{
            height: 450px;
            border-radius: 100%;
            margin-left: -200px;
        }

        .formContacto form{
            width: 750px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        .datos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-between;
            width: 90%;
        }
        .datos input, textarea{
            margin: 15px;
            padding: 10px;
            background-color: #ececec;
            border: none;
        }
        ::placeholder{
            font-family: Arial, Helvetica, sans-serif;
            color: #9e56e2;
            font-size: 18px;   
        }
        .botones input{
            margin: 20px;
            padding: 10px;
            border-radius: 30px;
            border: none;
            color: #9e56e2;
            background-color: #ececec;
            transition: 0.75s;
        }
        .botones input:hover{
            background-color: #9e56e2;
            color: #ffffff;
        }

        /* TERMINA CSS DE CONTACTO */
        /* COMIENZA CSS DE TIENDA */
        .tienda{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
        }
        .tiendaProducto{
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: right;
            margin: 1%;
            transition: 1s;
        }
        .tiendaProducto a{
            font-family: 'Darker Grotesque', sans-serif;
            font-size: 18px;
            text-decoration: none;
            color: #9e56e2;
            text-align: left;
        }
        .tiendaProducto img{
            width: 100%;
            height: 100%;
            transition: all 0.5s;
        }
        .tiendaProducto.tiendaProducto:hover{
            opacity: 0.5;
        }
        /* TERMINA CSS DE TIENDA */
        /* COMIENZA CSS DE PRODUCTOS */
    
        .productoDatos{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        .datos{
            display: flex;
            flex-direction: column;
            padding: 20px;
        
        }
        .productoDatos img{
            width: 45%;
            padding: 20px;
        }
        .productoDatos h1, h2{
            font-family: 'Darker Grotesque', sans-serif;
            font-size: 40px;
        }