.botones{
    input{
        font-size: 20px;
        margin: 20px;
        padding: 10px;
        border-radius: 30px;
        border: none;
        color: map-get($colors , colorprincipal);
        background-color: map-get($colors,colorformulario);
        transition: 0.75s;
        &:hover{
            background-color: map-get($colors,colorprincipal);
            color: map-get($colors,colorformulario);
        }
    }
}    
