/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.encabezadoFooter{
    padding: 20px;
    font-size: 25px;
    font-family: $fuenteprincipal;
    }
.navFooter{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }
}    
.navFooter-item{
    a{
        img{
            height: 40px;
            width: 40px;
            margin: 0px 10px 0px 10px;
            transition: all 0.2s;
            &:hover{
                height: 42px;
                width: 42px;
            }
        }
    }
}        

/*FOOTER*/  