/* FOOTER */
.footer{
    @extend %flexColumn;
}

.encabezadoFooter{
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-family: $fuenteprincipal;
    }
    
.navFooter{
    ul{
        @extend %flexRow;
        list-style-type: none;
        margin-right: 30px;
    }
}    
.navFooter-item{
    a{
        img{
            height: 40px;
            width: 40px;
            margin: 0px 5px 0px 5px;
            transition: all 0.2s;
            &:hover{
                height: 42px;
                width: 42px;
            }
        }
    }
}        

/*FOOTER*/  