  /*HEADER */
  
.header__Logo{
  width: 120px;
  }
  
.navbar-nav{ 
  li{
    a{
      span{
        margin-top: 9px;
      }
      text-decoration: none;
      font-family: $fuenteprincipal;
      font-size: 20px;
      list-style-type: none;
      color: map-get($colors, colorprincipal);
      &:hover{
            color: map-get($colors, colorhover);
      }
    }
  }     
}
    
    /*HEADER*/