// FONTS 

$fuenteprincipal:'Darker Grotesque', sans-serif;
$fuentesecundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

//PALETA DE COLORES

$colors: (
    colorformulario: #ececec,
    colorprincipal: #03024f,
    colorsecundario: #efefef,
    colorhover: #399814,

)


