// FONTS 

$fuenteprincipal:'Darker Grotesque', sans-serif;
$fuentesecundaria: Arial, Helvetica, sans-serif;

//PALETA DE COLORES

$colorformulario: #ececec;
$colorprincipal: #c118d1;
$colorsecundario: #ffffff;
$colorhover: #399814;

