/* MAIN DE PRODUCTOS */
      
.producto{
    text-align: left;
    font-family: $fuenteprincipal;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
/* MAIN DE PRODUCTOS */