// FONTS 

$fuenteprincipal:'Darker Grotesque', sans-serif;
$fuentesecundaria: Arial, Helvetica, sans-serif;

//COLORS

$colorformulario: #ececec;
$colorprincipal: #9e56e2;
$colorsecundario: #ffffff;
$colorhover: #145f98;

